@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td ,select,input,option,textarea{margin: 0; padding: 0; border: 0;	outline: 0; font-size: 100%; box-sizing:border-box;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video {display:inline-block;}
audio:not([controls]) {display:none; height:0;}
pre{white-space:pre; white-space:pre-wrap; word-wrap:break-word}
q { quotes:none; }
q:before,q:after{content:''; content:none}
small{font-size:80%}
sub,sup{font-size:75%; line-height:0; position:relative; vertical-align:baseline}
sup{top: -4px;}
sub{bottom:-0.25em}
nav ul,nav ol{list-style:none; list-style-image:none;}
button{cursor: pointer;}
button,input,select,textarea{font-size:100%; margin:0; vertical-align:baseline; border: 0; }
textarea { overflow:auto; vertical-align:top; resize: none; background: #F4F3F0; border: none; width: 100%; height: 80px; padding: 15px; font-family: 'Montserrat', sans-serif;
 font-weight: 400; color: #0C2D3F; font-size: 14px; }
table{border-collapse:collapse;border-spacing:0}
button,html input[type="button"],input[type="reset"],input[type="submit"],textarea{-webkit-appearance:none; border-radius:0}
input[type="submit"], button { cursor: pointer; font-family: 'Montserrat', sans-serif;
 font-style: normal; }
/* remember to define focus styles! */
:focus {outline: 0;}
ol, ul { list-style: none; }
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: 400; }
a { text-decoration:none; }
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
table {	border:0 none; border-collapse:collapse; border-spacing:0; width: 100%; }
td { vertical-align:top; }
img	{ border:0 none; max-width:100%; }
td,th { padding: 10px; }
tr:nth-child(even) { background-color: #f8f8f8; }
th { background-color: #F0F0F3; }
tr th { border-right: 2px solid #fff; border-bottom: 1px solid #fff; font-size: 13px; color: #747379; font-family: 'Montserrat', sans-serif;
 }
tr th:last-child { border-right: none; }
tr.filterbox th { border: none; }
tr:hover { background-color: #f0f0f0; }
tr td { color: #747379; font-size: 17px; font-family: 'Montserrat', sans-serif;
 font-weight: 400; vertical-align: middle; }
tr td strong { font-family: 'Montserrat', sans-serif;
 }
.white-color,.white-color * { color: #ffffff; }
/* End hide from IE Mac */ .none { display: none; } /* End Clearfix */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block}
/* For IE browsers */ 
select::-ms-expand { display: none; }
select { -webkit-appearance: none; -moz-appearance: none; text-indent: 1px; border-radius: 0; text-overflow: ''; }
/* For modern browsers */ 
body { font-family: 'Montserrat', sans-serif;
 font-weight: 300; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
li, p { font-family: 'Montserrat', sans-serif;
 font-weight: 400; color: #ffffff; font-size: 16px; line-height: 1.33; padding-bottom: 21px; }
li { padding-bottom: 7px; }
b,strong { font-family: 'Montserrat', sans-serif;
 font-weight: 700; }
a { outline:none; text-decoration: underline; cursor:pointer; color: #01A6EE; -webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out; }
a:hover { color: #8bbc07; }
/* ~~~~~~~~~~ Flex Grid ~~~~~~~~~~ */
.flex-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
.flex-end { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end }
.flex-start { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
.flex-center { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.flex-item { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; padding-left: 15px; padding-right: 15px; }
.nowrap { flex-wrap: nowrap; }
.margin-left-auto { margin-left: auto; }
.min-footer { margin-top: auto; }
section,header,footer { width: 100%; }
/* ~~~~~ Box Sizing ~~~~~ */
.page-wrapper { position:relative; overflow:hidden; max-width:100%; height:100%; min-height: 100vh; }
.container { position: relative; max-width: 1300px; margin: 0 auto; padding-left: 40px; padding-right: 40px; }
.cf:before,.cf:after{content:"\0020";display:block;height:0;overflow:hidden;}.cf:after{clear:both;}.cf{zoom:1;}
input, textarea, button, select, a { -webkit-tap-highlight-color: rgba(0,0,0,0); }
/* ----- Auto focus fill Remove css ----- */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {-webkit-text-fill-color: inherit !important; -webkit-box-shadow: 0 0 0px 1000px transition inset; transition: background-color 5000s ease-in-out 0s; }
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator { display: none; -webkit-appearance: none; }
input[type="time"]::-webkit-calendar-picker-indicator { display: none; -webkit-appearance: none; }
h1,h2,h3,h4,h5 { font-family: 'Montserrat', sans-serif;
 font-weight: 300; font-style: normal; color: #ffffff; line-height: 1.2; letter-spacing: -0.5px; }
h1 strong,h2 strong,h3 strong,h4 strong,h5  strong { color: #f36000; text-transform: uppercase; }
h1 { font-size: 60px; font-weight: 300; }
h2 { font-size: 50px; }
h3 { font-size: 30px; font-weight: 700; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 18px; }
h1 span { color: #01A6EE; }
ul li { list-style: disc;  list-style-position: inside; }
form { border: none !important; text-align: left; }
input[type="text"], input[type="email"], input[type="number"], input[type="tel"], input[type="search"], input[type="date"], input[type="time"], input[type="url"], input[type="password"], input[type="search"],textarea { border: 1px solid #AFAFAF; border-radius: 4px; -moz-appearance: none; -webkit-appearance: none; font-size: 14px; padding: 11px 20px; background-color: transparent; font-family: 'Montserrat', sans-serif;
 font-weight: 400; color: #0C2D3F; width: 100%; background-color: #ffffff; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {-webkit-appearance:none; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
input[type="number"] { -moz-appearance: textfield; }
textarea:focus, input:focus { border-color: #8bbc07; box-shadow: 0px 0px 10px rgba(139, 187, 7, 0.5) }
textarea { overflow: hidden; resize:none }
* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
::-moz-selection { background: #000000; color: #ffffff; }
::selection { background: #000000; color: #ffffff; }
::-moz-focus-inner { border: 0; padding: 0; }
q,blockquote { display: block; width: 100%; padding: 10px 0 10px 15px; margin-top: 15px; margin-bottom: 15px; margin-left: 2%; border-left: 5px solid #d8dce5; font-weight: 600; font-style: italic; color: #595a5a; font-family: 'Montserrat', sans-serif;
 font-weight: 400; font-style: normal; color: #66717e; }
*[dir="rtl"] { text-align:right !important; width: 100%; display: block; }
*[dir="ltr"] { text-align:left !important; width: 100%; display: block; }
.marker { background-color: yellow; }
.hidescroll { overflow: hidden; }
.mar-minus { margin-left: -15px; margin-right: -15px; }
/* ~~~~~~~~ Placeholder CSS ~~~~~~~~~~ */
input::-webkit-input-placeholder {  color: #000000; font-family: 'Montserrat', sans-serif;
 font-weight: 400; font-style: normal;  }
input::-moz-placeholder {  color: #000000; font-family: 'Montserrat', sans-serif;
 font-weight: 400; font-style: normal;  }
input:-ms-input-placeholder {  color: #000000; font-family: 'Montserrat', sans-serif;
 font-weight: 400; font-style: normal;  }
input:-moz-placeholder {  color: #000000; font-family: 'Montserrat', sans-serif;
 font-weight: 400; font-style: normal;  }
textarea::-webkit-input-placeholder {  color: #000000; font-family: 'Montserrat', sans-serif;
 font-weight: 400; font-style: normal;  }
textarea::-moz-placeholder {  color: #000000; font-family: 'Montserrat', sans-serif;
 font-weight: 400; font-style: normal;  }
textarea:-ms-input-placeholder {  color: #000000; font-family: 'Montserrat', sans-serif;
 font-weight: 400; font-style: normal;  }
textarea:-moz-placeholder {  color: #000000; font-family: 'Montserrat', sans-serif;
 font-weight: 400; font-style: normal;  }
/* ~~~~~~~~ Placeholder CSS ~~~~~~~~~~ */
/* ----- Defaukt CSS ----- */
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active { -webkit-box-shadow: 0 0 0 30px white inset !important; }
body { background-color: #000000; }
/* Change the white to any color */
.ctm-btn a { font-family: 'Montserrat', sans-serif;
 font-weight: 600; font-style: normal; font-size: 16px; line-height: 1; border: none; padding: 15px 45px; color: #01295C; background-color: transparent; border: 1px solid #01295C; border-radius: 30px; display: inline-block; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; position: relative; z-index: 100; overflow: hidden; text-transform: uppercase; text-align: center; text-decoration: none; }
.ctm-btn a:hover { color: #ffffff; }
.ctm-btn a span { position: absolute; display: block; width: 0; height: 0; border-radius: 50%; background-color: #01295C;
	-webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;-o-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;transition: width 0.4s ease-in-out, height 0.4s ease-in-out; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: -1; }
.ctm-btn a:hover span {width: 225%; height: 562.5px; }
.blue-btn a:hover span { background-color: #01295C; }
.white-btn a { background: #ffffff; color: #000000 !important; border: none; }
.white-btn a:hover { background: #8bbc07; color: #ffffff !important; border: none; }
.green-btn a { background: #8bbc07; color: #000000 !important; border: none; }
.green-btn a:hover { background: #7a9f18; color: #ffffff !important; border: none; }
.red-btn a {border: none; color: #ffffff; background: #ff0000; background: -webkit-linear-gradient(90deg, #ff0000 0%, #c10202 100%); background: linear-gradient(90deg, #ff0000 0%, #c10202 100%); }
.red-btn a span {background: #c10202; }
input[type="submit"], .blue-btn a { background-color: #01A6EE; color: #fff; border-radius: 4px; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; text-transform: uppercase; display: block; font-weight: 700; padding: 15px 25px; line-height: 1; background: #8bbc07; color: #ffffff !important; border: none; width: 100%; }
input[type="submit"]:hover, .blue-btn a:hover { color: #000000 !important; border: none; }
section { position: relative; z-index: 10; }
body { opacity: 0; -webkit-animation: pagefadein 2s ease forwards; animation: pagefadein 2s ease forwards; }
@keyframes pagefadein {
	0%   { opacity:0; } 100% { opacity:1; }
}
@-webkit-keyframes pagefadein {
	0%   { opacity:0; } 100% { opacity:1; }
}
.fade-up { opacity: 0; }
.come-in.fade-up {position: relative; -webkit-animation: fade-up 0.6s ease forwards; animation: fade-up 0.6s ease forwards; }
@keyframes fade-up {
	0%   { opacity:0; -webkit-transform:translateY(50%); transform:translateY(50%); }
	100% { opacity:1; -webkit-transform:translateY(0);     transform:translateY(0);     }
}
@-webkit-keyframes fade-up {
	0%   { opacity:0; -webkit-transform:translateY(50%); transform:translateY(50%); }
	100% { opacity:1; -webkit-transform:translateY(0);     transform:translateY(0);     }
}
.del1 {-webkit-animation-delay: 0.2s !important; animation-delay: 0.2s !important; }
.del2 {-webkit-animation-delay: 0.3s !important; animation-delay: 0.3s !important; }
.del3 {-webkit-animation-delay: 0.4s !important; animation-delay: 0.4s !important; }
.del4 {-webkit-animation-delay: 0.5s !important; animation-delay: 0.5s !important; }
.theme-bgcolor { background-color: #48797A; }
.whitebg { background-color: #ffffff; position: relative; z-index: 20; }
.light-gray-bg { background-color: #F8F8F8; }
.align-center { align-items: center; }
.center-align { text-align: center; }
.bgimage { background-position: center; background-repeat: no-repeat; background-size: cover; }
img { max-width: 100%; }

.page-wrapper { background: #000000; }
.hero-image { height: 100vh; width: 100%; }
.hero-slider { position: relative; }
.hero-slider .owl-prev, .hero-slider .owl-next{position: absolute; top: 0; bottom: 0; margin: auto; }
.hero-slider .owl-nav button { height: 100px; width: 100px; }
.hero-slider .owl-nav button:before {content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; height: 20px; width: 20px; border-top: 3px solid #ffffff; border-right: 3px solid #ffffff; transform: rotate(45deg); }
.hero-slider .owl-nav button:before {content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; height: 20px; width: 20px; border-top: 3px solid #ffffff; border-right: 3px solid #ffffff; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.hero-slider .owl-prev:before {-webkit-transform: rotate(-130deg) !important; transform: rotate(-130deg) !important; }
.hero-slider .owl-next{right: 0; }
.hero-slider .owl-prev{left: 0; }
.main-header { position: absolute; left: 0; top: 0; width: 100%; z-index: 500; }
.logo-header { width: 200px; position: absolute; top: 0; left: 0; right: 0; margin: 0 auto; padding-top: 20px; }
.container { position: relative; z-index: 10; }
.main-header:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 130px; background: rgb(0,0,0); background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 60%, rgba(57,71,54,0) 100%); }
.limg { height: 40px; width: 40px; background: #f36000; display: inline-block; border-radius: 50px; padding: 6px; vertical-align: middle; position: relative; z-index: 1; }
.limg img { width: 100%; max-width: 100%; display: block; }
.ltext { display: inline-block; vertical-align: middle; padding-left: 15px; text-transform:uppercase; color: #fff; font-weight: 700; position: relative; z-index: 4; }
.right-header { margin-left: auto; padding-top: 40px; }
.right-header a { margin-left: 40px; }
.right-header a:hover span { color: #f36000; }
.left-header a { height: 50px; width: 50px; background: #ffffff; border-radius: 50%; display: inline-block; overflow: hidden; padding: 6px; position: relative; }
.left-header{ position: relative; height: 50px; width: 50px; margin-top: 40px; }
.left-header:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 50%; background: #ffffff; z-index: -1; -webkit-animation: zoomIn2 2s ease infinite; animation: zoomIn2 2s ease infinite; -webkit-transform: scale(1);transform: scale(1); }
@keyframes zoomIn2 {
  0% {opacity: 0; transform: scale(1); }
  50% {opacity: 0.5; transform: scale(1.6); }
  100% {opacity: 0;  transform: scale(1.6); }
}
.left-header a img { max-width: 100%; }
.limg:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 50%; background: #EB5C3B; z-index: -1; -webkit-animation: zoomIn 2s ease infinite; animation: zoomIn 2s ease infinite; -webkit-transform: scale(1); transform: scale(1); }
@-webkit-keyframes zoomIn {
  0% {opacity: 0; transform: scale(1); }
  50% {opacity: 0.5; transform: scale(1.6); }
  100% {opacity: 0;  transform: scale(1.6); }
}
@keyframes zoomIn {
  0% {opacity: 0; transform: scale(1); }
  50% {opacity: 0.5; transform: scale(1.6); }
  100% {opacity: 0;  transform: scale(1.6); }
}
video::-webkit-media-controls {display: none; }
/* Could Use thise as well for Individual Controls */
video::-webkit-media-controls-play-button {display: none;}
video::-webkit-media-controls-volume-slider { display: none; }
video::-webkit-media-controls-mute-button { display: none; }
video::-webkit-media-controls-timeline { display: none; }
video::-webkit-media-controls-current-time-display { display: none; }
/* Could Use thise as well for Individual Controls */
.video-wrappe { position: relative; height: 400px; }
.video-wrappe video { width: 100%; height: 100%; position: fixed; top: 0; left: 0; bottom: 0; right: 0; margin: auto; object-fit: cover; }
.Popular-Games-section { padding-top: 100px; padding-bottom: 100px; position: relative; }
.Popular-Games-section:before {content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background-image: url(../images/kindpng_622778.png); background-position: bottom right; background-size: 50%; background-repeat: no-repeat; transform: scaleX(-1); opacity: 0.4; }
.left-title { width: 30%; padding-right: 20px; position: relative; padding-top: 20px; }
.right-game { width: 70%; }
.left-title h1 { font-size: 50px; font-weight: 400; padding-bottom: 20px; }
.coin-image { position: absolute; top: -150px; left: 0; width: 100px; margin-top: 20px; }
.game-wrap { width: calc(33.33% - 20px); padding: 10px; border: 1px solid rgba(255,255,255,0.3); border-radius: 10px; margin: 10px; box-shadow:
    0 0 5px 5px rgba(255,255,255,0.1); }
.game-wrap .g-img { padding-bottom: 65%; border-radius: 10px; }
.work-wrap { width: 25%; padding-left: 20px; padding-right: 20px; }
.Popular-Games-section {background: -webkit-linear-gradient(180deg, rgba(0,44,93, 0.5) 0%, #000000 100%); background: linear-gradient(180deg, rgba(0,44,93, 0.5) 0%, #000000 100%); }
.services-box { padding: 50px; }
.list-wrap { position: relative; padding: 20px; padding-left: 100px; border: 1px solid #ffffff; background: #ffffff; border-radius: 20px; width: calc(50% - 20px); margin: 10px; }
.list-icon { position: absolute; top: 24px; bottom: 0; left: 20px; width: 60px; }
.list-wrap h3 { font-size: 24px; padding-bottom: 10px; color: #f36000; padding-top: 10px; width: 100%; line-height: 1.2; }
.list-wrap p { color: #2d2d2d; }
.list-wrap p { padding-bottom: 0; }
.title-wrap { text-align: center; }
.services--wrapper { padding-top: 100px; padding-bottom: 100px; background-image: url(../images/services-bg.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; position: relative; }
.services--wrapper:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #000000; opacity: 0.2; }
.work-wrap { font-size: 20px; line-height: 1.2; color: #ffffff; padding: 10px 20px; }
.work-wrap span {height: 110px; width: 110px; margin: 0 auto; border-radius: 50%; border: 4px solid #f36000; text-align: center; line-height: 100px; font-size: 50px; font-weight: 700; display: block; color: #f36000; position: relative; z-index: 1; color: #fff; background: rgb(243,96,0); background: radial-gradient(circle, rgba(243,96,0,0.8) 0%, rgba(57,71,54,0) 80%); }
.work-wrap span:before,
.work-wrap span:after{content: ''; position: absolute; bottom: 0; left: 0; right: 0; margin: 0 auto; }
.work-wrap span:after{top: 100%; height: 50px; background: #f36000; width: 4px; }
.work-wrap span:before{height: 10px; width: 10px; background: #f36000; border-radius: 50%; top: 150px; }
.work-wrap h5 { text-align: center; padding-top: 70px; line-height: 1.5; font-size: 18px; }
.work--box .work-right { width: 100%; padding-left: 0; }
.work--box .t-title h2 { text-align: center; padding-bottom: 50px; }
.work--box { padding-top: 100px; padding-bottom: 100px; 	 background: -webkit-linear-gradient(180deg, rgba(0,44,93, 0.5) 0%, #000000 100%); background: linear-gradient(180deg, rgba(0,44,93, 0.5) 0%, #000000 100%); }
.work-left { width: 40%; }
.work-right { width: 60%; padding-left: 100px; }
.service-image {
	background-image: url(../images/card-gif-image.gif); padding-bottom: 100%; width: 100%; background-size: cover; background-blend-mode: multiply; background-position: center; background-color: #ffe190; }
.main--footer { border-top: 1px solid #2d2d2d; padding: 30px 0; }
.main--footer .flex-container { justify-content: space-between; }
.right-footer { padding-left: 20px; }
.main--footer p { padding: 0; }


@media(max-width: 1200px) {  }
@media(max-width: 991px) {
	.hero-image { height: auto; padding-bottom: 60%; }
	.Popular-Games-section { padding-top: 60px; padding-bottom: 60px; }
	.left-title { width: 100%; padding-right: 0; text-align: center;}
	.right-game { width: 100%; }
	.services-box { padding: 50px 0 0; }
	.left-title h1 { font-size: 45px; }
	.video-wrappe { height: 350px; }
	.services--wrapper { padding-top: 60px; padding-bottom: 60px; }
	h2 { font-size: 45px; }
	.work--box { padding-top: 60px; padding-bottom: 60px; }
	.coin-image { margin-top: -120px; }

	.main-header .container { padding-left: 20px; padding-right: 20px; }
	.logo-header { width: 150px; padding-top: 20px; }
	.right-header { padding-top: 20px; }
	.left-header { margin-top: 20px; }
	.right-header a { margin-left: 20px; }


}
@media(max-width: 767px) {
	.container { padding-left: 20px; padding-right: 20px; }
	.video-wrappe { height: 250px; }
	.list-wrap { width: 100%; margin: 10px 0; }

	.del1, .del2, .del3, .del4 {-webkit-animation-delay: 0s !important; animation-delay: 0s !important; }
	.main--footer { text-align: center; }
	.right-footer,
	.left-footer { width: 100%; }
	.left-footer { padding-bottom: 15px; }


	.left-header { position: fixed; bottom: 20px; right: 20px; padding-right: 20px; }
	.logo-header { right: inherit; left: 20px; }
	.right-header {padding-top: 30px; }
	.hero-image { padding-bottom: 80%; }
	.coin-image { width: 60px; }
	.coin-image { margin-top: 60px; }

}
@media(max-width: 640px) {
	.left-title h1,
	h2 { font-size: 36px; }
	.game-wrap { width: calc(50% - 20px); }
	.work-wrap { width: 50%; padding-top: 20px; padding-bottom: 20px; }
	.work-wrap span { height: 80px; width: 80px; font-size: 30px; line-height: 70px; }
	.work-wrap span:before { top: 100px; }
	.work-wrap h5 { font-size: 16px; }
	.work-wrap span:after { height: 35px; }
	.work-wrap h5 { padding-top: 50px; }
	.Popular-Games-section .flex-container { margin-left: -10px; margin-right: -10px; }
	.Popular-Games-section .flex-container .flex-container { margin-left: 0; margin-right: 0; }
	.list-icon { width: 40px; top: 15px; }
	.list-wrap { padding: 10px 10px 20px; padding-left: 75px; }
	.list-wrap h3 { font-size: 20px; }

	
	.main--footer { padding-left: 50px; padding-right: 50px; }
	.hero-slider .owl-nav button { width: 50px; height: 50px; }
	.hero-slider .owl-nav button:before { height: 15px; width: 15px; }
	.services-box { padding-top: 40px; }

	.right-header a { margin: 0 4px; display: inline-block; text-decoration: none; }
	.ltext { display: block; text-align: center; padding-left: 0; font-size: 12px; }
	.limg { height: 30px; width: 30px; display: block; margin: 0 auto 10px; }
	.logo-header { width: 130px; }
	.right-header { padding-top: 20px; }

}
@media(max-width: 480px) {
	.work-wrap { width: 100%; }
}




















.video-wrappe .flex-container { align-items: center; justify-content: center; height: 400px; text-align: center; }
.video-wrappe:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #00162e; opacity: 0.5; z-index: 1; }
.video-wrappe h3 { color: #000; text-transform: uppercase; padding-bottom: 10px; }
.video-wrappe h2 { color: #000; font-weight: 700; text-transform: uppercase; font-size: 70px; background: -webkit-linear-gradient(#f36000, #ce5607); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.btn a { text-decoration: none; text-transform: uppercase; color: #ffffff; background: #000000; padding: 15px 30px; display: inline-block; border-radius: 30px; margin-top: 20px; font-size: 22px; font-weight: 700; }
.btn a:hover { background: #ffffff; color: #000; }

  .video-wrappe h2 strong { color: #f36000; }
.offer-wrapper { background-color: transparent; border: 10px solid #ffffff; width: 100%; min-height: 80%; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; z-index: 10; }  
.offer-wrapper:before {
	content: '';
	position: absolute;
	height: calc(100% - 120px);
	width: calc(100% - 120px);
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: #FFFFFF;
	z-index: -1;
	opacity: 0.8;
}

.icon-wrap img { width: 40px; }

.bottom-stick-menu { position: fixed; bottom: 0; left: 0; background: #000000; border-top: 1px solid #2d2d2d; width: 100%; z-index: 100; }
body { padding-bottom: 90px; }

.bottom-stick-menu .flex-container { justify-content: space-between; position: relative; z-index: 10; align-items: center; }

.bottom-stick-menu .icon-wrap { text-align: center; width: 20%; }
.bottom-stick-menu .icon-wrap a{ padding: 20px; display: block; transition: all 0.3s ease-in-out; }
.bottom-stick-menu .icon-wrap a:hover { transform: scale(1.1); }